<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Dominos Feedback</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <form method="POST" action="/welcome">
        <div class="container height-100 d-flex justify-content-center align-items-center">
            <div class="position-relative">
                <div class="card p-2 text-center cust_otp_card">
                    <div class="back-page">
                        <svg style="margin-top: -4px;" width="8" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.94659 11.229L3.22474 6.49999L8.94659 1.77102L8.94672 1.77118L8.95433 1.76435C9.12793 1.60849 9.25 1.39227 9.25 1.12898C9.25 0.592032 8.76782 0.25 8.25562 0.25C7.99087 0.25 7.75237 0.328841 7.55549 0.494704C7.55513 0.495002 7.55478 0.495299 7.55443 0.495597L1.0779 5.85111L1.07789 5.8511L1.07585 5.85282C0.878522 6.01958 0.749999 6.23673 0.749999 6.49999C0.749999 6.75893 0.874699 6.98554 1.07927 7.15001L7.55631 12.5128L7.55629 12.5129L7.5598 12.5157C7.75473 12.6713 7.99079 12.75 8.25562 12.75C8.76784 12.75 9.25 12.4079 9.25 11.871C9.25 11.6162 9.12924 11.3927 8.95435 11.2356L8.95449 11.2355L8.94659 11.229Z" fill="#04489D" stroke="#04489D" stroke-width="0.5"/>
                        </svg>
                        Edit Employee Code</div>
                            <br>
                            <div class="edit-num">
                                <div class="notify">
                                    <span>We have sent an OTP to ****8888</span>
                                    <br>
                                    <span>Please enter the OTP below</span>
                                </div>
                                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                                    <input class="m-2 text-center form-control rounded" type="text" id="first"
                                        maxlength="1" autocomplete="off" />
                                    <input class="m-2 text-center form-control rounded" type="text" id="second"
                                        maxlength="1" autocomplete="off" />
                                    <input class="m-2 text-center form-control rounded" type="text" id="third"
                                        maxlength="1" autocomplete="off" />
                                    <input class="m-2 text-center form-control rounded" type="text" id="fourth"
                                        maxlength="1" autocomplete="off" />
                                    <input class="m-2 text-center form-control rounded" type="text" id="fifth"
                                        maxlength="1" autocomplete="off" />
                                    <input class="m-2 text-center form-control rounded" type="text" id="sixth"
                                        maxlength="1" autocomplete="off" />
                                </div>
                                <div class="resend">Resend OTP</div>
                                <div class="mt-4 verifyButton" >
                                    <button class="btn px-4 validate btn-success cust_btn" >Verify</button>
                                </div>
                            </div>
                    </div>
                </div>
    </form>

</body>
<script src="/js/feedback.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {

        function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = '';
                        if (i !== 0) {
                            inputs[i - 1].focus();
                        }
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1) {
                                inputs[i + 1].focus();
                                event.preventDefault();
                            }
                        }
                        else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1) {
                                inputs[i + 1].focus();
                                event.preventDefault();
                            }
                        }
                    }
                });
            }
        }
        OTPInput();
    });
</script>

</html>