<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b55c257304.js" crossorigin="anonymous"></script>
    <title>Dominos Feedback</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="parent_container">
        <div class="refund_header">
            <div>
                <span>Mobile : 9812345678</span>
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="change_btn">Change</button> -->
            </div>
            <div>Name: <span>Ananditra Chatterjee</span></div>
            <div>Type: <span>VIP Frequency</span> </div>
            <div style="background: #cbcd8c;">Last 90days: TSG - 0 Time(s), SG- 0 Time(s)</div>
            <div>
                <select name="order_id" id="order_id" class="select_drop">
                    <option>Order id #59</option>
                    <option>Order id #58</option>
                    <option>Order id #57</option>
                    <option>Order id #56</option>
                    <option>Order id #55</option>
                </select>
            </div>
            <div>
                <select name="feedback_id" id="feedback_id" class="select_drop">
                    <option>Feedback id #6373560</option>
                    <option>Feedback id #6373561</option>
                    <option>Feedback id #6373562</option>
                    <option>Feedback id #6373563</option>
                    <option>Feedback id #6373564</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="ordersContainers">
            <div class="orders">
                <div style="display: flex; margin:20px 0; gap: 0.2%; " id="orderCardContainer">
                    <div class="ordersCard ${className}" data-name=${orderid}>
                        <div style="display: flex; margin-top:10px;" data-name=${orderid}>
                            <div class="circular" data-name=${orderid}>
                                <span> <!-- ${i + 1} --> 1</span>
                            </div>
                            <div data-name=${orderid} class="dateTime">
                                <!-- ${date} -->28 july 2023
                                <br>
                                <!-- ${time} -->15:32:67
                            </div>
                        </div>
                        <br>

                        <div data-name=${orderid} class="orderno">
                            Order No. <!--${orderno} --> 10
                        </div>
                        <div data-name=${orderid} class="orderno">
                            Order Id: <!-- ${orderid} --> 189236498214
                        </div>
                        <div data-name=${orderid} class="orderno">
                            <!-- ₹${price} -->1000
                        </div>
                    </div>
                    <div class="ordersCard ${className}" data-name=${orderid}>
                        <div style="display: flex; margin-top:10px;" data-name=${orderid}>
                            <div class="circular" data-name=${orderid}>
                                <span> <!-- ${i + 1} --> 1</span>
                            </div>
                            <div data-name=${orderid} class="dateTime">
                                <!-- ${date} -->28 july 2023
                                <br>
                                <!-- ${time} -->15:32:67
                            </div>
                        </div>
                        <br>

                        <div data-name=${orderid} class="orderno">
                            Order No. <!--${orderno} --> 10
                        </div>
                        <div data-name=${orderid} class="orderno">
                            Order Id: <!-- ${orderid} --> 189236498214
                        </div>
                        <div data-name=${orderid} class="orderno">
                            <!-- ₹${price} -->1000
                        </div>
                    </div>
                    <div class="ordersCard ${className}" data-name=${orderid}>
                        <div style="display: flex; margin-top:10px;" data-name=${orderid}>
                            <div class="circular" data-name=${orderid}>
                                <span> <!-- ${i + 1} --> 1</span>
                            </div>
                            <div data-name=${orderid} class="dateTime">
                                <!-- ${date} -->28 july 2023
                                <br>
                                <!-- ${time} -->15:32:67
                            </div>
                        </div>
                        <br>

                        <div data-name=${orderid} class="orderno">
                            Order No. <!--${orderno} --> 10
                        </div>
                        <div data-name=${orderid} class="orderno">
                            Order Id: <!-- ${orderid} --> 189236498214
                        </div>
                        <div data-name=${orderid} class="orderno">
                            <!-- ₹${price} -->1000
                        </div>
                    </div>
                    <div class="ordersCard ${className}" data-name=${orderid}>
                        <div style="display: flex; margin-top:10px;" data-name=${orderid}>
                            <div class="circular" data-name=${orderid}>
                                <span> <!-- ${i + 1} --> 1</span>
                            </div>
                            <div data-name=${orderid} class="dateTime">
                                <!-- ${date} -->28 july 2023
                                <br>
                                <!-- ${time} -->15:32:67
                            </div>
                        </div>
                        <br>

                        <div data-name=${orderid} class="orderno">
                            Order No. <!--${orderno} --> 10
                        </div>
                        <div data-name=${orderid} class="orderno">
                            Order Id: <!-- ${orderid} --> 189236498214
                        </div>
                        <div data-name=${orderid} class="orderno">
                            <!-- ₹${price} -->1000
                        </div>
                    </div>
                    <div class="ordersCard ${className}" data-name=${orderid}>
                        <div style="display: flex; margin-top:10px;" data-name=${orderid}>
                            <div class="circular" data-name=${orderid}>
                                <span> <!-- ${i + 1} --> 1</span>
                            </div>
                            <div data-name=${orderid} class="dateTime">
                                <!-- ${date} -->28 july 2023
                                <br>
                                <!-- ${time} -->15:32:67
                            </div>
                        </div>
                        <br>

                        <div data-name=${orderid} class="orderno">
                            Order No. <!--${orderno} --> 10
                        </div>
                        <div data-name=${orderid} class="orderno">
                            Order Id: <!-- ${orderid} --> 189236498214
                        </div>
                        <div data-name=${orderid} class="orderno">
                            <!-- ₹${price} -->1000
                        </div>
                    </div>

                </div>

                <div id="orderStatusContainer">
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; padding-left : 10px;">
                        <h5>Order Date: <span>22nd July, 2023</span></h5>
                        <h5>Order Time<span>14:29:45</span></h5>
                        <h5>Order Date<span>16:34:53 (125 min)</span></h5>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; padding-left : 10px;">
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">Order Status</span>
                            <span style="color: #333333; font-weight: lighter;"> Delivered</span>
                        </div>
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">Order Type</span>
                            <span style="color: #333333;font-weight: lighter;">Home Delivery </span>
                        </div>
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">Payment Method</span>
                            <span style="color: #333333;font-weight: lighter;">Cash </span>
                        </div>
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">Source</span>
                            <span style="color: #333333;font-weight: lighter;">mobile </span>
                        </div>
                    </div>
                    <div
                        style="display: grid; grid-template-columns: 1fr 4fr; text-align: start; padding-left:10px; padding-bottom: 10px;">
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">Store Code</span>
                            <span style="color: #333333;font-weight: lighter;">659852</span>
                        </div>
                        <div class="deliveryDT">
                            <span style="padding-bottom: 5px;">User Address</span>
                            <span style="color: #333333;font-weight: lighter;">Ms Kiara, Edleco utopia, Olympia 2 Flat no 1104, Sector 93A, Noida, Uttar Pradesh
                                201304, India, Sector 93A, Noida</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ordr-heading">
                        <div>Item Name</div>
                        <div>Qty</div>
                        <div style="margin-right:1rem; text-align:right;">Price</div>
                    </div>
                    <div class="items">
                        <div class="img-wrapper">
                            <img class="item-image" src="https://images.dominos.co.in/cart/${imageUrl}" alt="image">
                        </div>
                        <div class="item-details">
                            <div class="item-heading">${itemName} </div>
                            <div class="item-subheding">${itemDesc}</div>
                            <div></div>
                        </div>
                        <div>
                            ${itemQty}
                        </div>
                        <div class="item-price">
                            ₹${totalPrice}
                        </div>
                    </div>
                </div>
                <div class="calc_section">
                    <div>Sub Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
                    <div>Discount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
                    <div>Taxes & Charges &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</div>
                    <hr/>
                    <div>Grand Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
                    <hr/>
                </div>
            </div>
            <div class="commentsContainer">
                <div class="commentContainer_body">
                    <div>
                        <h6> Comment</h6>
                        <p>No comment Availble</p>
                    </div>
                    <div style="padding-top: 10px;">
                        <button class="change_btn" style="margin-right: 50px; background-color: #f4ecf6;">Add
                            Comment</button>
                        <button class="change_btn" style="margin-right: 50px; background-color: #f4ecf6;">Add
                            Image</button>
                    </div>
                </div>
                <div class="commentContainer_select">
                    <h5> Select Items TSG has to be issued for:</h5>
                    <div>
                        <input type="checkbox" name="All" id="" style="margin-right: 10px;">All <br />
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>

                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                    <div class="selectItemsTag">
                        <input type="checkbox" name="Margherita" id="">&nbsp; Margherita
                        <p style=" text-align: right;">$96.455</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>