<html>

<head>
  <title>Submit</title>
  <link rel="stylesheet" href="/public/css/submitForm.css">
</head>

<body>

  <div class="div-2">
    <div class="column">
      <div class="div-3">
        <div class="div-4">
          <div class="div-5">
            <div class="div-6">The 4 Cheese Pizza + 7 other items</div>
            <div class="div-7">
              <div class="div-8">13 Jul 2023</div>
              <div class="div-9">₹1,671.00</div>
            </div>
          </div>
          <div class="div-10">
            <div class="div-11">Product Quality Related Issue</div>
            <div class="div-12">
              <div class="div-13">Taste</div>
              <div class="div-14">Cheese & Topping</div>
            </div>
          </div>
        </div>
        <img loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/514a4c8b1c0d44cee5064b6c67c45ef21bc9572c43f80bde967df10c4373ba0c?"
          class="img" />
        <div class="div-15">
          <div class="div-16">
            <div class="div-17">
              <span style="font-weight: 600">Your Service Request is</span>
              #6767234
            </div>
            <div class="div-18">
              Our Guest Services representative will reach out to you within
              24-48 Hours.
            </div>
          </div>
        </div>
        <div class="div-19">Close</div>
      </div>
    </div>
    <!-- <div class="column-2">
            <img
             src="/public/assets/DominosPizza.png"
              class="img-2"
            /> 
           </div> -->


  </div>
  </div>

</body>

</html>