<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/try3.css">
</head>

<body>

    <div class="outer1">
        <span class="child1">
            <span class="child2">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d87347b4b6f436609c24acfe1cd09bd94b27d665d845c8536e0e421701514b44?"
                    class="img" />
                <div class="child3">Feedback Category</div>
            </span>
            <div class="child4">
                <span class="child5">
                    <div class="child6">Taste</div>
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/797050a588e9f5ae0b641aeb679dae4080ac654835806ab305e50ab6b99faa21?"
                        class="img-2" />
                </span>
                <span class="child7">
                    <div class="child8">Cheese & Topping</div>
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4e00ed08b7ab965d13ad9343f409425fc7891a7c251375f927ec139e0698bcd?"
                        class="img-3" />
                </span>
            </div>
            <p class="child9">Please upload image(s) here</p>
            <div class="child10">
                <input  type="file" class="child11"></input>
                <!-- <span class="span-6">
                    <span class="span-7">
                        <div class="div-8">Add Image</div>
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/1636caedd8075b7b1f3ad107186b38832714242c05f45084e6600ba22f9306a8?"
                            class="img-4" />
                    </span>
                    <div class="div-9">No file chosen</div>
                </span> -->
            </div>
            <p class="child12">
                Up to 4 images can be uploaded, each less than 2 MB. Supported file
                formats: jpg, jpeg, png, pdf.
            </p>
            <textarea class="child13" placeholder="Comments"></textarea>
            <button class="child14">Submit</button>
        </span>
    </div>

</body>

</html>