* {
  margin: 0px;
  font-family: 'Montserrat';
}

.div {
  height: 100vh;
  background-color: #04489d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 37px 60px; */
}

@media (max-width: 991px) {
  .div {
  
    padding: 0px 25px;
   
  }
}

.div-2 {
  align-items: center;
  border-radius: 20px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 1040px;
  flex-direction: column;
  padding: 24px;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 20px 20px;

  }
}

.div-3 {
  cursor: pointer;
  align-items: center;
  align-self: start;
  display: flex;
  gap: 8px;
}

.img {
  aspect-ratio: 0.67;
  object-fit: contain;
  object-position: center;
  width: 8px;
  fill: #04489d;
  stroke-width: 0.5px;
  stroke: #04489d;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}

.div-4 {
  color: #04489d;
  text-align: center;
  align-self: stretch;
  flex-grow: 1;
  white-space: nowrap;
  font: 700 16px/137.5% Montserrat, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-4 {
    white-space: initial;
  }
}

.div-5 {
  align-self: stretch;
  display: flex;
  margin-top: 24px;
  padding-right: 80px;

  gap: 12px;
}

@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-6 {
  border-radius: 8px;
  background-color: #04489d;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 16px;
}

.div-7 {
  color: #fff;
  font: 700 16px Montserrat, sans-serif;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div-8 {
  border-radius: 8px;
  background-color: #04489d;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 16px;
}

.div-9 {
  color: #fff;
  flex-grow: 1;
  white-space: nowrap;
  font: 700 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-9 {
    white-space: initial;
  }
}

.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div-10 {
  color: #000;
  align-self: center;
  margin-top: 24px;
  white-space: nowrap;
  font: 500 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}

.div-11 {
  align-content: flex-end;
  align-self: stretch;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  padding-right: 80px;
  gap: 16px;
}

@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    padding-right: 20px;
  }
}

.div-12 {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #2b57a6;
  flex-grow: 1;
  padding: 8px 16px;
  font: 700 12px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-12 {
    white-space: initial;
  }
}

.div-13 {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #2b57a6;
  flex-grow: 1;
  padding: 8px 16px;
  font: 700 12px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-13 {
    white-space: initial;
  }
}

.div-14 {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #2b57a6;
  flex-grow: 1;
  padding: 8px 16px;
  font: 700 12px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
  }
}

.div-15 {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #2b57a6;
  flex-grow: 1;
  padding: 8px 16px;
  font: 700 12px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-15 {
    white-space: initial;
  }
}

.div-16 {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #666;
  display: flex;
  margin-top: 24px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}

.div-17 {
  justify-content: space-between;
  background-color: #e2e2e2;
  display: flex;
  gap: 20px;
  padding: 12px 48px 12px 0;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-18 {
  color: #666;
  padding-left: 2px;
  font: 700 16px Montserrat, sans-serif;
}

.div-19 {
  color: #666;
  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-20 {
  color: #666;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-21 {
  justify-content: space-between;
  border-bottom: 1px solid #666;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 12px 48px 12px 0;
}

@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-22 {
  color: #000;
  width: 160px;
  padding-left: 2px;
  font: 700 16px Montserrat, sans-serif;
}

.div-23 {
  color: #000;

  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-24 {
  color: #000;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-25 {
  justify-content: space-between;
  border-bottom: 1px solid #666;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 12px 48px 12px 0;
}

@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-26 {
  color: #000;
  width: 160px;
  padding-left: 2px;
  font: 700 16px Montserrat, sans-serif;
}

.div-27 {
  color: #000;
  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-28 {
  color: #000;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-29 {
  justify-content: space-between;
  border-bottom: 1px solid #666;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 12px 48px 12px 0;
}

@media (max-width: 991px) {
  .div-29 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-30 {
 
  padding-left: 2px;
  color: #000;
  width: 160px;
  font: 700 16px Montserrat, sans-serif;
}

.div-31 {
  color: #000;
  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-32 {
  color: #000;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-33 {
  justify-content: space-between;
  border-bottom: 1px solid #666;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 12px 48px 12px 0;
}

@media (max-width: 991px) {
  .div-33 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-34 {
  color: #000;
  padding-left: 2px;
  width: 160px;
  font: 700 16px Montserrat, sans-serif;
}

.div-35 {
  color: #000;
  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-36 {
  color: #000;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-37 {
  justify-content: space-between;
  border-bottom: 1px solid #666;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 12px 48px 0 0;
}

@media (max-width: 991px) {
  .div-37 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-38 {
  color: #000;
  padding-left: 2px;
  width: 160px;
  font: 700 16px Montserrat, sans-serif;
}

.div-39 {
  color: #000;
  text-align: center;
  font: 700 16px Montserrat, sans-serif;
}

.div-40 {
  color: #000;
  text-align: right;
  font: 700 16px Montserrat, sans-serif;
}

.div-41 {
  color: #000;
  align-self: center;
  margin-top: 24px;
  white-space: nowrap;
  font: 700 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-41 {
    white-space: initial;
  }
}

.div-42 {
  align-self: stretch;
  display: flex;
  margin-top: 16px;

  gap: 0px;
}

@media (max-width: 991px) {
  .div-42 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.div-43 {
  color: #000;
  white-space: nowrap;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  justify-content: center;
  padding: 12px 16px;
  font: 600 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-43 {
    white-space: initial;
  }
}

.div-44 {
  border-radius: 0px 8px 8px 0px;
  border: 2px solid #e7e7e7;
  display: flex;
  gap: 8px;
  padding: 6px 80px 6px 16px;
}

@media (max-width: 991px) {
  .div-44 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.div-45 {
  justify-content: space-between;
  border-radius: 4px;
  border: 0.5px solid #ececec;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  gap: 8px;
  padding: 6px 8px;
}

.div-46 {
  color: #666;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-46 {
    white-space: initial;
  }
}

.img-4 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div-47 {
  justify-content: space-between;
  border-radius: 4px;
  border: 0.5px solid #ececec;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  gap: 8px;
  padding: 6px 8px;
}

.div-48 {
  color: #666;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-48 {
    white-space: initial;
  }
}

.img-5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div-49 {
  justify-content: space-between;
  border-radius: 4px;
  border: 0.5px solid #ececec;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  gap: 8px;
  padding: 6px 8px;
}

.div-50 {
  color: #666;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-50 {
    white-space: initial;
  }
}

.img-6 {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 16px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

.div-51 {
  color: #000;
  align-self: center;
  margin-top: 16px;

  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .div-51 {
    text-align: center;
    max-width: 100%;
  }
}

.div-52 {
  color: #666;
  white-space: nowrap;
  align-items: start;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  margin-top: 24px;
  padding: 12px 60px 65px 16px;
  font: 400 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .div-52 {
    white-space: initial;
    max-width: 100%;
    padding-right: 20px;
  }
}

.div-53 {
  color: #fff;
  /* white-space: nowrap; */
  /* justify-content: center;
          align-items: center; */
  border-radius: 8px;
  border: none;
  background-color: #55a157;
  align-self: center;
  margin-top: 24px;
  width: 181px;
  max-width: 100%;
  padding: 16px 60px;
 
  font-size: 16px;
  font-weight: 700;

}

@media (max-width: 991px) {
  .div-53 {
    height: 24px;
    white-space: initial;
    padding: 0 20px;
  }
}

.cursor:hover {
  cursor: pointer;
}

.file {
  margin-left: 11px;
  font-size: 16px;
  width: 100%;
 border-radius: 4px;
  border: 1px solid #E7E7E7;
}