*{
  margin: 0px;
  font-family: 'Montserrat';
}
.parent1 {
  background-color: #04489d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
@media (max-width: 991px) {
  .parent1 {
    background-color: white;
    padding: 0 20px;
  }
}
.inner-1 {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 1042px;
  flex-direction: column;
  margin: 20px 0 56px;
  padding: 24px;
}
@media (max-width: 991px) {
  .inner-1 {
    max-width: 100%;
    margin: 20px 0;
    padding: 0 12px;
    box-sizing: none;
  }
}
.child-1 {
  color: #000;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  font: 500 16px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .child-1 {
    white-space: initial;
  }
}
.inner-2 {
  justify-content: space-between;
  align-self: stretch;
  display: flex;
  margin-top: 23px;
  gap: 20px;
}
@media (max-width: 991px) {
  .inner-2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.inner-3 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .inner-3 {
    max-width: 100%;
  }
}
.child-2 {
  color: #000;
  text-align: center;
  font: 700 24px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .child-2 {
    max-width: 100%;
  }
}
.inner-4 {
  align-self: start;
  display: flex;
  margin-top: 4px;
  gap: 8px;
}
.child-3 {
  color: #000;
  white-space: nowrap;
  font: 400 16px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .child-3 {
    white-space: initial;
  }
}

.child-4 {
  color: #2b57a6;
  white-space: nowrap;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #2b57a6;
  background-color: #fff;
  align-self: center;
  margin: auto 0;
  padding: 8px;
  font: 700 12px Montserrat, sans-serif;
  
}
.child-4:hover{
  cursor: pointer;
}
@media (max-width: 991px) {
  .child-4 {
    white-space: initial;
  }
}
.inner-5 {
  justify-content: flex-end;
  align-self: stretch;
  border-top: 1px solid #666;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  padding: 16px;
}
@media (max-width: 991px) {
  .inner-5 {
    max-width: 100%;
  }
  .ul{
    display: contents;
  }
  .hlo1{
    margin-bottom: 12px;
  }
  .subcategories-container {
    display: contents !important;
  }
}
.child-5 {
  color: #666;
  font: 700 16px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .child-5 {
    max-width: 100%;
  }
}
.inner-6 {
  align-content: flex-end;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  padding-right: 80px;
  gap: 16px;
}
@media (max-width: 991px) {
  .inner-6 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.child-6 {
  color: #000;
  white-space: nowrap;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #2b57a6;
  cursor: pointer;
  padding: 8px 16px;
  font: 700 12px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .child-6 {
    white-space: initial;
  }
}

.inner-7 {
  justify-content: flex-end;
  align-self: stretch;
  border-top: 1px solid #666;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (max-width: 991px) {
  .inner-7 {
    max-width: 100%;
  }
}

.inner-8 {
  align-content: flex-end;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  padding-right: 80px;
  gap: 16px;
}
@media (max-width: 991px) {
  .inner-8 {
    max-width: 100%;
    padding-right: 20px;
  }
}

.inner-9 {
  justify-content: flex-end;
  align-self: stretch;
  border-top: 1px solid #666;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (max-width: 991px) {
  .inner-9 {
    max-width: 100%;
  }
}

.inner-10 {
  align-content: flex-end;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  padding-right: 80px;
  justify-content: left;
  gap: 16px;
}
@media (max-width: 991px) {
  .inner-10 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.inner-11 {
  justify-content: flex-end;
  align-self: stretch;
  border-top: 1px solid #666;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (max-width: 991px) {
  .inner-11 {
    max-width: 100%;
  }
}

.inner-12 {
  align-content: flex-end;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  padding-right: 80px;
  gap: 16px;
}
@media (max-width: 991px) {
  .inner-12{
    max-width: 100%;
    padding-right: 20px;
  }
}

.inner-13 {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #55a157;
  align-self: center;
  display: flex;
  margin-top: 19px;
  width: 367px;
  max-width: 100%;
  flex-direction: column;
  padding: 16px 60px;
}
@media (max-width: 991px) {
  .inner-13 {
    height: 35px;
    padding: 0 20px;
  }
}
.inner-14 {
  display: flex;
  gap: 8px;
}
.inner-15 {
  color: #fff;
  
   white-space: nowrap;
  font: 700 16px Montserrat, sans-serif;
}
.inner-15:hover{
  cursor: pointer;
}
@media (max-width: 991px) {
  .inner-15{
    white-space: initial;
  }
}
.img {
  aspect-ratio: 0.56;
  object-fit: contain;
  object-position: center;
  width: 9px;
  fill: #fff;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

   
.selected{
  background-color: #2b57a6; 
  color: white;
  
}  
