*{
    margin: 0px;
}.div {
    background-color: #04489d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 60px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .span {
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    width: 100%;
    max-width: 1042px;
    flex-direction: column;
    padding: 14px;
  }
  @media (max-width: 991px) {
    .span {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .span-2 {
    align-items: center;
    align-self: start;
    display: flex;
    gap: 8px;
  }
  .select-6 {
    width: 100px;
    height: 37px;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    /* padding: 8px 60px 8px 16px; */
    font: 500 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .select-6 {
      max-width: auto;
    }
  }
  .select-7 {
    width: 623px;
    height: 37px;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    padding: 8px 60px 8px 16px;
    font: 500 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .select-7 {
    width: auto;
    }
  }
  .img {
    aspect-ratio: 0.67;
    object-fit: contain;
    object-position: center;
    width: 8px;
    fill: #04489d;
    stroke-width: 0.5px;
    stroke: #04489d;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .div-2 {
    color: #04489d;
    text-align: center;
    align-self: stretch;
    flex-grow: 1;
    white-space: nowrap;
    font: 500 16px/137.5% Montserrat, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-2 {
      white-space: initial;
    }
  }
  .div-3 {
    color: #000;
    text-align: center;
    align-self: center;
    margin-top: 24px;
    font: 500 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .span-3 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .select-6{
    width: 100px;
    height: 34px;
  }
  .div-4 {
    color: #000;
    text-align: right;
    margin: auto 0;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-5 {
    justify-content: space-between;
    align-self: stretch;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .span-4 {
    justify-content: space-between;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    display: flex;
    /* gap: 20px;
    padding: 8px 16px; */
  }
  .div-6 {
    color: #666;
    font: 500 16px Montserrat, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 16px;
    fill: #666;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-7 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .span-5 {
    color: #666;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    flex-grow: 1;
    justify-content: center;
    padding: 8px 28px 8px 16px;
    font: 500 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-5 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .span-6 {
    color: #666;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    flex-grow: 1;
    
    justify-content: center;
    padding: 8px 28px 8px 16px;
    font: 500 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-6 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .span-7 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-7 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-8 {
    color: #000;
    
    width: 240px;
    margin: auto 0;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-9 {
    align-items: center;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    align-self: stretch;
    display: flex;
    width: 617px;
    max-width: 100%;
    height: 36px;
    flex-direction: column;
  }
  .span-8 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-8 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-10 {
    color: #000;
    text-align: right;
    margin: auto 0;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-11 {
    align-items: center;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    align-self: stretch;
    display: flex;
    width: 617px;
    max-width: 100%;
    height: 36px;
    flex-direction: column;
  }
  .span-9 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-9 {
      /* display: grid; */
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-12 {
    color: #000;
    text-align: right;
    margin: auto 0;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-13 {
    align-items: end;
 
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .img-3 {
    aspect-ratio: 1.75;
    object-fit: contain;
    object-position: center;
    width: 14px;
    stroke-width: 2px;
    stroke: #696969;
    overflow: hidden;
    max-width: 100%;
  }
  .span-10 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-10 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-14 {
    color: #000;
    text-align: right;
    margin: auto 0;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-15 {
    align-items: end;
  
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .img-4 {
    aspect-ratio: 1.75;
    object-fit: contain;
    object-position: center;
    width: 14px;
    stroke-width: 2px;
    stroke: #696969;
    overflow: hidden;
    max-width: 100%;
  }
  .div-16 {
    justify-content: space-between;
    align-self: stretch;
    margin-top: 12px;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
    }
  }
  .div-17 {
    gap: 97px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-17 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-18 {
    color: #000;
    
    margin-top: 8px;
    white-space: nowrap;
    font: 600 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .span-11 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 16px 16px 0;
  }
  @media (max-width: 991px) {
    .span-11 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-19 {
    color: #666;
    font: 700 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
    }
  }
  .div-20 {
    align-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    margin-top: 16px;
    padding-right: 80px;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .span-12 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
   
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-12 {
      white-space: initial;
    }
  }
  .span-13 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-13 {
      white-space: initial;
    }
  }
  .span-14 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-14 {
      white-space: initial;
    }
  }
  .div-21 {
    color: #666;
    margin-top: 16px;
    font: 700 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
    }
  }
  .div-22 {
    align-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    margin-top: 16px;
    padding-right: 80px;
    gap: 14px;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-23 {
    display: flex;
   
    flex-basis: 0%;
    flex-direction: column;
  }
  .span-15 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-15 {
      width: 125px;
    }
  }
  .span-16 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    margin-top: 16px;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-16 {
      white-space: initial;
      width: 131px;
    }
  }
  .span-17 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    align-self: start;
   
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-17 {
      white-space: initial;
    }
  }
  .span-18 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    align-self: start;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-18 {
      white-space: initial;
    }
  }
  .div-24 {
    color: #666;
    margin-top: 16px;
    font: 700 16px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    align-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    margin-top: 16px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .span-19 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    flex-grow: 1;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-19 {
      white-space: initial;
    }
  }
  .span-20 {
    color: #000;
    white-space: nowrap;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #2b57a6;
    flex-grow: 1;
    padding: 8px 16px;
    font: 700 12px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .span-20 {
      white-space: initial;
    }
  }
  .span-21 {
    justify-content: space-between;
    align-items: end;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-21 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-26 {
    color: #000;
    text-align: right;
    margin-top: 40px;
    font: 600 16px Montserrat, sans-serif;
  }
  .div-27 {
    align-items: center;
    border-radius: 4px;
    border: 2px solid #e7e7e7;
    align-self: stretch;
    display: flex;
    width: 617px;
    max-width: 100%;
    height: 74px;
    flex-direction: column;
  }
  .div-28 {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #bdbdbd;
    align-self: center;
    display: flex;
    margin-top: 24px;
    width: 367px;
    max-width: 100%;
    flex-direction: column;
    padding: 16px 60px;
  }
  @media (max-width: 991px) {
    .div-28 {
      padding: 0 20px;
    }
  }
  .span-22 {
    display: flex;
    gap: 8px;
  }
  .div-29 {
    color: #fff;
    font: 700 16px Montserrat, sans-serif;
  }
  .img-5 {
    aspect-ratio: 0.56;
    object-fit: contain;
    object-position: center;
    width: 9px;
    fill: #fff;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
